# Go binary files
*.exe
*.exe~
*.out
*.a
*.so
*.test

# Build directories
/bin/
/obj/
cmd/*  # Ignore everything in cmd
!cmd/*.go  # Allow .go files to be tracked

# Vendor directory (if using vendoring)
vendor/

# IDE or editor specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Temporary files
*.tmp
*.temp
